// Body
$body-bg: $blue;
$text-color: $dark-blue;
// Typography
$font-family-sans-serif: 'Saira', sans-serif;
$font-size-base: 1.125rem;
$line-height-base: 1.388;
$font-weight-bold: 700;

// Colors
$cta : $orange;

//**Border**//
$border-color: transparent;
$border-radius: 0.222rem;
$border-radius-lg: 0.222rem;
$border-radius-sm: 0.222rem;

//**Box shadow**//
$box-shadow-sm: 0 0.333rem 0.444rem rgba($dark-blue, .1);
$box-shadow: 0 0.333rem 0.444rem rgba($dark-blue, .1);
$box-shadow-lg: 0 0.333rem 0.444rem rgba($dark-blue, .1);
